<%= content_for(:title) do %>
Game Hopper-Rental List
<% end %>
<div class="games-container">

  <div class="title-container">

    <div class="home-title">
     <h2>Complete Rented Games List</h2>
    </div>

  </div>
  <% if @rentals.empty? %>
    <h3 class="home-title"> No rented games </h3>
  <% else %>
  <% @rentals.each do |rental| %>
    <div class="product">
        <%= cl_image_tag rental.game.photo , height: 100, width: 120, crop: :fill %>
      <div class='product-body'>
        <h3><%= rental.game.title %></h3>
        <p><%= rental.game.description %></p>
      </div>
      <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
        <li><p>PRICE : <%=  rental.game.price %></p></li>
        <li><p>FROM : <%=  rental.start_date.strftime("%A, %b %d") %></p></li>
        <li><p>UNTIL : <%=  rental.end_date.strftime("%A, %b %d") %></p></li>
        <li> <%= link_to 'Cancel', rental_path(rental), method: :delete, class: "btn-medium" %></li>
      </ul>
    </div>
  <% end %>








<!--
    <div class="container">

        <% @rentals.each do |rental| %>
            <div class="rental-block">
              <div class = "rental-card" >
                <%= cl_image_tag rental.game.photo , height: 500, width: 400, crop: :fill %>
              </div>
              <div class = "rental-description">
                <h4><%= rental.game.title %></h4>
                <p><%= rental.game.description %></p>
                <p>FROM : <%=  rental.start_date.strftime("%A, %b %d") %></p>
                <p>UNTIL : <%=  rental.end_date.strftime("%A, %b %d") %></p>
                <div class="btn-rental">
                  <%= link_to 'Cancel', rental_path(rental), method: :delete, class: "btn btn-danger btn-rental-delete" %>
                </div>
              </div>
            </div>
        <% end %>

    </div> -->
  <% end %>

</div>
