<%= content_for(:title) do %>
Game Hopper - Rental List
<% end %>
<div class="games-container">

    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://awesomegifs.com/wp-content/uploads/nintendos-world.gif');">
      <div class="banner-content">
        <h1>Games I've rented</h1>
      </div>
    </div>

  <% if @rentals.empty? %>
    <h3 class="home-title"> Currently no rentals </h3>
  <% else %>
    <% @rentals.each do |rental| %>
      <% if rental.game.user == current_user || rental.user == current_user %>
        <div class="product">
            <%= cl_image_tag rental.game.photo , height: 100, width: 120, crop: :fill %>
          <div class='product-body'>
            <h3><%= rental.game.title %></h3>
            <p><%= rental.game.description %></p>
          </div>
          <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
            <li><p>PRICE ¥<%= rental.game.price %></p></li>
            <li><p>FROM <%= rental.start_date.strftime("%A, %b %d") %></p></li>
            <li><p>UNTIL <%= rental.end_date.strftime("%A, %b %d") %></p></li>
            <li> <%= link_to 'Cancel', rental_path(rental), method: :delete, class: "btn-green-flat", :data => {:confirm => 'Are you sure?'} %></li>
          </ul>
        </div>
        <% end %>
    <% end %>
  <% end %>

</div>
