<%= content_for(:title) do %>
Game Hopper-Landing
<% end %>
<div class="games-container">

<% if !params[:query].present? %>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active cover">
        <img src="https://images.alphacoders.com/564/thumb-1920-564986.jpg" alt="Metal Gear">
        <div class="carousel-caption">
        <div class="title-carousel">
          <h3>Game Hopper</h3>
          <h5>Stop buying and start renting</h5>
        </div>
    </div>
    </div>
    <div class="item">
      <%= cl_image_tag(@games.first.photo, :transformation =>[ { :q_auto=>"best"},
           {:width=>1500, :height=>700, :crop=>"fill"}
      ])%>
      <div class="carousel-caption">
        <div class="title-carousel">
          <h3><%= @games.first.title %></h3>
          <h5><%= @games.first.platform %></h5>
        </div>
        <div class="btn-carousel">
        <%= link_to "Rent Now", game_path(@games.first.id), class: "btn btn-home-flat" %>
        </div>
      </div>
    </div>

    <div class="item">
      <%= cl_image_tag(@games.second.photo, :transformation =>[ { :q_auto=>"best"},
           {:width=>800, :height=>800, :crop=>"fill"}
      ])%>
      <div class="carousel-caption">
        <div class="title-carousel">
          <h3><%= @games.second.title %></h3>
          <h5><%= @games.second.platform %></h5>
        </div>
        <div class="btn-carousel">
        <%= link_to "Rent Now", game_path(@games.second.id), class: "btn btn-home-flat" %>
        </div>
      </div>
    </div>
  </div>



  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>

    <h2>The most complete library of video games ever</h2>
<%end%>


<% if Game.search_by_title_and_platform(params[:query]) == [] && params[:query] %>

  <div class="deadlink">
    <!-- <div class="col-xs-12 col-sm-3 col-md-4 col-md-offset-4"> -->
    <h2> Game Over</h2>
      <%= image_tag "deadlink.png", class: "image-404" %>
    <!-- </div> -->
  </div>



<% else %>
  <div class="card-grid">
    <div class="row">
      <!-- Template for games to be turned into cards -->
      <% @games.each do |game| %>
        <div class="col-xs-12 col-sm-3">
          <!-- entire card body wrapped in link -->
          <%= link_to game_path(game) do %>
            <div class="card-body">
              <div class="card-head">
                <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path game.photo, crop: :fill %>');">
                </div>
              </div>
              <div class="card-footer">
                <div class="card-title">
                  <%= game.title %>
                </div>
                <div class="card-platform">
                  <%= game[:platform] %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
