<%= content_for(:title) do %>
Game Hopper-<%= @game.title %>
<% end %>

<div class="single-game-container">

  <div class="wrapper">

      <div class="game-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @game.photo, crop: :fill_pad %>');">

        <div class="
          <% case @game.platform %>
          <% when "XBOX" %>
          <%= "nav-xbox" %>
          <% when "PS4" %>
          <%= "nav-ps4" %>
          <% when "SWITCH" %>
          <%= "nav-switch" %>
          <% end %>
          ">
        </div>

      </div>

      <div class="game-info">

        <div class="title
        <% case @game.platform %>
          <% when "XBOX" %>
          <%= "title-xbox" %>
          <% when "PS4" %>
          <%= "title-ps4" %>
          <% when "SWITCH" %>
          <%= "title-switch" %>
          <% end %>
          "><h1><%= @game.title %></h1>
        </div>

        <div class="game-description">
          <h2><%= @game.description %></h2>
          <h2><%= @game.price %>¥ \ Day </h2>
        </div>

        <div class="availability">
          <h2>
            <%= @game.available ? "Available" : "Currently Not Available" %>
          </h2>
        </div>

        <div class="button-container">

          <div class="button">
            <% if @game.user == current_user %>
              <%= link_to 'Edit', edit_game_path(@game), class: "btn btn-success btn-edit" %>
            <% end %>
          </div>

          <div class="button">
            <% if @game.user == current_user %>
              <%= link_to 'Delete', game_path(@game), method: :delete, class: "btn btn-danger btn-delete", :data => {:confirm => 'Are you sure?'} %>
            <% end %>
          </div>

          <div class="button">
            <% unless @game.user == current_user || !@game.available %>
              <%#= link_to "Rent", game_rentals_path(@game), method: :create, class: "btn btn-primary btn-rent", data: { toggle: "modal", target:'#exampleModal' } %>
              <button type="button" class="btn btn-primary btn-green-flat-trigger" data-toggle="modal" data-target="#exampleModal">
                Rent
              </button>

            <% end %>
          </div>

        </div>

      </div>

    </div>

  <div
      id="map"
      data-markers="<%= @markers.to_json %>"
    ></div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">
          <strong>Arrange an appointment for the handover</strong>
        </h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">

            <div class="row">
              <div class="col-md-6 ml-auto">
                  <br>
                  <h5><strong>Game</strong></h5>
                  <h6><%= @game.user.username %>'s <%= @game.title %></h6>
                  <br>
                  <h5><strong>Meeting point</strong></h5>
                  <h6><%= @game.user.address %><br><br></h6>
              </div>
              <div class="col-md-6 ml-auto">
                <label for="message-text" class="col-form-label"><h5>Message:</h5></label>
                <textarea class="form-control" id="message-text" rows="6"></textarea>
              </div>
            </div>


          </div>
        </form>
      </div>
      <div class="modal-footer">

        <%= mail_to @game.user.email, "Send",
         subject: "You've got a new rental!";%>

        <%= link_to "Confirm", game_rentals_path(@game), method: :create, class: "btn btn-primary btn-rent" %>
      </div>
    </div>
  </div>
</div>
